.button_transparent_with-border {
  background-image: $buttonBorderColor_transparent;
  color: $buttonTextColor_transparent;
  padding-left: $border-width_transparent;
  padding-top: $border-width_transparent;
  padding-bottom: $border-width_transparent;

  .button__text{
    width: $normal-size-width - $border-width_transparent*2;
    padding-top: $normal-size-vertical-padding - $border-width_transparent;
    padding-bottom: $normal-size-vertical-padding - $border-width_transparent;
    display: flex;
    border-radius: $border-radius;
    background-color: $buttonBackgroundColor_transparent;
    justify-content: center;
    align-items: center;
  }

  &:hover{
    opacity: 0.75;
  }

  &:active{
    opacity: 0.5;
  }
}