include __count/like-button__count.pug
include __image/like-button__image.pug
mixin like-button(modifier)
  .like-button&attributes(attributes)
    +like-button__count(modifier)
    +like-button__image(modifier)