mixin dropdown-with-math-field__item(itemObj)
  li.dropdown-with-math-field__item&attributes(attributes)
    +dropdown-with-math-field__item-text(itemObj.text)
    +dropdown-with-math-field__item-math-field(itemObj.count)