/*no sense variables*/
$white: #fff;

$gray-lightest: rgba(31,32,65,0.1);
$gray-lighter: rgba(31,32,65,0.25);
$gray: rgba(31,32,65,0.5);
$gray-darker: rgba(31, 32, 65, 0.75);

$purple: #BC9CFF;

$gradient-green:linear-gradient(180deg,#6FCF97 0%, #66D2EA 100%);
$gradient-purple: linear-gradient(180deg,#BC9CFF 0%, #8BA4F9 100%);
$gradient-gray-blue: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-gray-blue-faded: linear-gradient(180deg, rgba(188,156,255,0.6) 0%, rgba(139,164,249,0.6) 100%);
$gradient-gray-only:  linear-gradient($gray-lighter 100%, $gray-lighter 100%);

//Внимание, для работы градиентных цветов для svg требуется подключать pug файл с этим 
//градиентом путь будет описан в комментарии ниже
$svg-gradient-purple: url('#svg-purple-gradient');
// include ../../components/svg-purple-gradient.pug
$svg-gradient-purple_faded: url('#svg-purple-gradient_faded');
// include ../../components/svg-purple-gradient_faded.pug

/*variables with sense*/
$dropdownColorClearButton: $gray;

$checkboxLabelColor_rich: $gray-darker;
$checkboxBulletBackgroundColor: $gray-lighter;

$rangeSliderDisplayedNumbersColor: $gray;
$rangeSliderBorderColor: $gray-lighter;
$rangeSliderKnobBackground:$gradient-green;
$rangeSliderKnobBorder: $white;

$buttonBackroundImage: $gradient-purple;
$buttonTextColor_colored_purple: $white;
$buttonTextColor_transparent: $purple;
$buttonTextColor_transparent--active: $gray;
$buttonBorderColor_transparent: $gradient-purple;
$buttonBackgroundColor_transparent: $white;

$linkColor:$purple;
$linkColor-active:$gray;

$likeButtonTextColor_transparent-with-border:$gray-lighter;
$likeButtonTextColor_transparent-with-border_pressed: $purple;
$likeButtonBorderColor_transparent: $gradient-gray-only;
$likeButtonBorderColor_transparent-with-border_pressed:$gradient-purple;
$likeButtonBackgroundColor_transparent: $white;
$likeButtonImageStroke: $gray-lighter;
$likeButtonImageStroke_pressed: $purple;

$paginationActiveItemBackgroundColor: $gradient-gray-blue;
$paginationActiveItemBackgroundColorHover: $gradient-gray-blue-faded;
$paginationActiveItemColor: $white;
$paginationItemColor: $gray;
$paginationNavigationActiveBackgroundColor: $gradient-green;

$rateButtonStarFill: $svg-gradient-purple; // include ../../components/svg-purple-gradient.pug
$rateButtonStarStroke: $svg-gradient-purple; // include ../../components/svg-purple-gradient.pug
$rateButtonStarFill_faded: $svg-gradient-purple_faded; // include ../../components/svg-purple-gradient.pug

$advantageTextColor: $gray-darker;

$advantageListItemWrapperDividersColor: $gray-lightest;