/*no sense variables*/
$white: #fff;

$gray: rgba(31,32,65,0.5);
$gray-lighter: rgba(31,32,65,0.25);

$purple: #BC9CFF;

$gradient-green:linear-gradient(180deg,#6FCF97 0%, #66D2EA 100%);
$gradient-purple: linear-gradient(180deg,#BC9CFF 0%, #8BA4F9 100%);
$gradient-gray-blue: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-gray-blue-faded: linear-gradient(180deg, rgba(188,156,255,0.6) 0%, rgba(139,164,249,0.6) 100%);
$gradient-gray-only:  linear-gradient($gray-lighter 100%, $gray-lighter 100%);

/*variables with sense*/
$rangeSliderDisplayedNumbersColor: $gray;
$rangeSliderBorderColor: $gray-lighter;
$rangeSliderKnobBackground:$gradient-green;
$rangeSliderKnobBorder: $white;

$buttonBackroundImage: $gradient-purple;
$buttonTextColor_colored_purple: $white;
$buttonTextColor_transparent: $purple;
$buttonTextColor_transparent--active: $gray;
$buttonBorderColor_transparent: $gradient-purple;
$buttonBackgroundColor_transparent: $white;

$linkColor:$purple;
$linkColor-active:$gray;

$likeButtonTextColor_transparent-with-border:$gray-lighter;
$likeButtonTextColor_transparent-with-border_pressed: $purple;
$likeButtonBorderColor_transparent: $gradient-gray-only;
$likeButtonBorderColor_transparent-with-border_pressed:$gradient-purple;
$likeButtonBackgroundColor_transparent: $white;
$likeButtonImageStroke: $gray-lighter;
$likeButtonImageStroke_pressed: $purple;

$paginationActiveItemBackgroundColor: $gradient-gray-blue;
$paginationActiveItemBackgroundColorHover: $gradient-gray-blue-faded;
$paginationActiveItemColor: $white;
$paginationItemColor: $gray;
$paginationNavigationActiveBackgroundColor: $gradient-green;