svg.purple-gradient_faded&attributes(attributes)(viewBox='0 0 100 100')
    defs
      lineargradient#svg-purple-gradient_faded
        stop(offset='0%',stop-opacity="0", stop-color='#BC9CFF')
        stop(offset='100%',stop-opacity="0", stop-color='#8BA4F9')