svg.rate-button__star&attributes(attributes)(viewBox='0 0 100 100')
    defs
      lineargradient#purple-gradient
        stop(offset='0%', stop-color='#BC9CFF')
        stop(offset='100%', stop-color='#8BA4F9')