.like-button_transparent_with-border {
  @include button_size_normal(
    $likeButtonNormalSizeWidth,
    $likeButtonBorderRadius)

  @include button_transparent_with-border(
    $likeButtonBorderColor_transparent, 
    $likeButtonBackgroundColor_transparent, 
    $likeButtonBorderWidth_transparent_withBorder, 
    ".like-button__wrapper",
    $likeButtonNormalSizeWidth,
    $likeButtonNormalSizeVerticalPadding,
    $likeButtonBorderRadius,
    $likeButtonBackgroundColor_transparent);
  
  .like-button__wrapper{
    display: inline-block;
  }

  .like-button__count{
    color: $likeButtonTextColor_transparent-with-border;
    position: absolute;
    right: 10px;
  }
}
