include __text/button__text.pug
include __background/button__background.pug
mixin button(modifier)
  .button&attributes(attributes)
    +button__background(modifier)
    +button__text(modifier)
    span!= Object.keys(attributes).length === 0