$normal-size-width: 99px;
$normal-size-height: 44px;
$border-radius: 22px;
$border-width_transparent: 2px;
.button {
	position: absolute;
	top: 130px;
	left: 40%;

  /*стили текста*/
  @include boldCommonHeaderStyle;
  text-align: center;
  @include unselectable;

  /*стили формы*/
  border-radius: 22px;
  cursor: pointer;
}
@import '_size_normal/button_size_normal';
@import '_colored_purple/button_colored_purple';
@import '_transparent/button_transparent';
@import '__text/button__text';
@import '_size_long/button_size_long';
@import '_has-arrow/button_has-arrow';

@import '__arrow/button__arrow';
@import '_arrow-position_right/button_arrow-position_right';
