mixin pagination__content(modifier)
  .pagination__content&attributes(attributes)
    +pagination__pagination-item({currentPaginationItemNumber: -1})
    - for (var i = 1; i <= (modifier.numberOfItems); ++i)
      +pagination__pagination-item({currentPaginationItemNumber: i})
      - currentNumber = i;
    +pagination__pagination-item({currentPaginationItemNumber: "+1"})