mixin pagination__content(modifier)
  .pagination__content(actpage=1)&attributes(attributes)
    +pagination__pagination-item({currentPaginationItemNumber: -1,
    itemValue: "prev"})
    - for (var i = 1; i <= (modifier.numberOfItems); ++i)
      +pagination__pagination-item({currentPaginationItemNumber: i,
    itemValue: i})
      - currentNumber = i;
    +pagination__pagination-item({currentPaginationItemNumber: "+1",
    itemValue: "next"})