mixin form-and-elements__dropdown-row-subrow(modifier)
  .form-and-elements__dropdown-row-subrow&attributes(attributes)
    +dropdown-with-math-field("DROPDOWN",
      u,
      "Сколько гостей",
      [
        {text:"ВЗРОСЛЫЕ", count:0},
        {text:"ДЕТИ", count:0},
        {text:"МЛАДЕНЦЫ", count:0},
      ],
      true,
      true,
      false
      )(class="dropdown-with-math-field_size_normal dropdown-with-math-field_numbers-only")
    +dropdown-with-math-field("DROPDOWN",
      u,
      "3 гостя",
      [
        {text:"ВЗРОСЛЫЕ", count:2},
        {text:"ДЕТИ", count:1},
        {text:"МЛАДЕНЦЫ", count:0},
      ],
      true,
      true,
      true
      )(class="dropdown-with-math-field_size_normal dropdown-with-math-field_numbers-only")