include __header/button-list__header.pug
include ../button/button.pug
include __row/button-list__row.pug
mixin button-list(modifier)
  .button-list&attributes(attributes)
    +button-list__header(modifier)
    span!=modifier.elementsArr[1].additionalClasses
    // +button-list__row(modifier.elementsArr[1])
    // +button-list__row(modifier.elementsArr[2])
    // +button-list__row(modifier.elementsArr[3])
    // +button-list__row(modifier.elementsArr[4])