mixin comment__image(modifier)
  picture.comment__image&attributes(attributes)
    source(type="image/webp" srcset=require("../../components/img/murad.webp"))
    source(type="image/jpg" srcset=require("../../components/img/murad.webp"))
    img(src=require("../../components/img/murad.jpg") alt="изображение комментария аватара")
