mixin comment__image(modifier)
  picture.comment__image&attributes(attributes)
    source(type="image/webp" srcset="../../../components/murad.webp")
    source(type="image/jpeg" srcset="../../../components/murad.jpg")
    img(src="../../../components/murad.jpg" alt="изображение комментария аватара")