.link{

	@include boldCommonHeaderStyle;
	color: $linkColor;

	&:visited{
		color: $linkColor-active;
	}

	&:active{
		opacity: 0.5;
	}
	&:hover{
		opacity: 0.75;
	}

	&:active, /* активная/посещенная ссылка */
	&:hover,  /* при наведении */
	& {text-decoration: none;}
}