include __desc/optional-inp-drop-title-and-desc-wrapper__desc.pug
include __title/optional-inp-drop-title-and-desc-wrapper__title.pug
mixin optional-inp-drop-title-and-desc-wrapper(modifier={title: "", description,defaultStyles:"optional-inp-drop-title-and-desc-wrapper_common-properties"})
  .optional-inp-drop-title-and-desc-wrapper&attributes(attributes)(class=defaultStyles)