.form-and-elements__dropdown-row {
  display: flex;
  justify-content: space-between;
  margin-top: 250px;

  @include media-breakpoint-down(md){
    height: 310px;
  }

  @include media-breakpoint-up(lg){
    height: 150px;
  }

}
