.pagination__item_navigate {
  background-image: $paginationNavigationActiveBackgroundColor;
  position: relative;
    &::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    @include centered;
  }

  @include media-breakpoint-down(md) {
    top: 9px;
  }
}
