mixin dropdown-with-math-field__menu(menuItemsObjArray, isMenuShown, isThereApplyButton, isThereClearButton)
  - var addedClass= "";
  if isMenuShown
    - addedClass= " dropdown-with-math-field__menu_show"
  ul.dropdown-with-math-field__menu(class=addedClass)&attributes(attributes)
    each itemObj in menuItemsObjArray
      +dropdown-with-math-field__item(itemObj)
    if (isThereApplyButton || isThereClearButton)
      +dropdown-with-math-field__item-button-container(isThereApplyButton, isThereClearButton)