.button_size_normal {
  @include button_size_normal(
    $normal-size-width,
    $border-radius)

  .button__text{
    display: inline-block;
    padding-top: $normal-size-vertical-padding;
    padding-bottom: $normal-size-vertical-padding;
  }
}
