@import '../../fonts/icomoon/style';
.dropdown-with-math-field__toggler {
  position: absolute;
  right: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;

  &::after{
    font-family: 'icomoon';
    content:"\e900";
    position: absolute;

    right: 14px;
    top: 15px;
    font-size: 9px;
    color: rgba(31,32,45, 0.75);
  }
}
