mixin form-and-elements__pagination-slide-button-column(modifier)
  .form-and-elements__pagination-slide-button-column&attributes(attributes)
    +range-slider(modifier)
    +button-list({
      header: "BUTTONS",
      elementsClassArr:[
        "button_colored_purple"
      ]
    })
