mixin form-and-elements__pagination-slide-button-column(modifier)
  .form-and-elements__pagination-slide-button-column&attributes(attributes)
    +range-slider(modifier)
    +link({text: "click me"})
    +button({text: "перейти к оплате"})(class="button_colored_purple button_size_long button_has-arrow")
