.like-button_pressed {
  &.like-button_transparent_with-border{
    background-image: $likeButtonBorderColor_transparent-with-border_pressed;

    .like-button__count{
      color: $likeButtonTextColor_transparent-with-border_pressed;
    }
    .like-button__image{
      path{
        fill:$purple;
        fill-opacity: 1;
        stroke:$likeButtonImageStroke_pressed;
        stroke-width: 1px;
      }
    }
  }
}
