.toggler-with-label__knob-line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(31,32,65, 0.25);
}

.toggler-with-label__input:checked ~ .toggler-with-label__knob-line{
  border: 1px solid #bc9cff;
}
