mixin dropdown-with-math-field__dropdown-menu-and-toggler-wrapper(modifier)
  .dropdown-with-math-field__dropdown-menu-and-toggler-wrapper&attributes(attributes)
    +dropdown-with-math-field__total-result-and-toggler-wrapper(modifier)
    +dropdown-with-math-field__menu(modifier)