doctype html
html
  head
  meta(charset = "utf-8")
  meta(name="viewport", content="initial-scale=1.0, widh=device-width")
  title FSD UIKit
  body
    include ../../Blocks/color-and-type/color-and-type.pug
    +color-and-type()