doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title FSD UIKit
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    include ../../Blocks/color-and-type/color-and-type.pug
    include ../../Blocks/form-and-elements/form-and-elements.pug
    +color-and-type()
    +form-and-elements()
