mixin form-and-elements__checkbox-row(modifier)
  .form-and-elements__checkbox-row&attributes(attributes)
    +form-and-elements__checkbox-subcolumn(modifier)
    +checkbox-list({
      title: "EXPANDABLE CHECKBOX LIST", 
      checkboxListId: "expandable-checkbox",
      menuItemsArray: [
        {text:"Завтрак"},
        {
          text:"Письменный стол", 
          isChecked: true
        },
        {
          text:"Стул для кормления",
          isChecked: true
        },
        {
          text:"кроватка",
          isChecked: true
        },
        {text:"Телевизор"},
        {text:"Шампунь"},
        {text:"Телевизор"},
        {text:"Шампунь"}
      ]
    })(class=" form-and-elements__checkbox-list checkbox-list_rich ")