.pagination__pagination-item {
  @include commonHeaderStyle;
  text-decoration: none;
  height: 40px;/*Высота и ширина пагинации*/
	width: 40px;
	border-radius: 22px;
	padding-top: 13px;
	color: $paginationItemColor;
	display: none;

  &:last-child,/*делаем видимым next первую числовую ячейку и последнюю числовую ячейку*/
  &:nth-child(2),
  &:nth-last-child(2) {
    display: inline-block;
  }
    
  &:hover {
    background-image: $paginationActiveItemBackgroundColorHover;
    color: #fff;
  }
}
