include __star/rate-button__star.pug
include __line/rate-button__line.pug
include ../../components/svg-purple-gradient.pug
include ../../components/svg-purple-gradient_faded.pug
//- В файле что прописан выше находится градиентный цвет для 
mixin rate-button(modifier)
  if modifier.starsfilled == undefined
    - modifier.starsfilled = 2;

  .rate-button&attributes(attributes)(data-initial-stars-filled=modifier.starsfilled)
    +rate-button__line(modifier)

