.button_transparent {
  background-image: $buttonBorderColor_transparent;
  color: $buttonTextColor_transparent;
  padding-left: $border-width_transparent/2;


  .button__text{
    width: $normal-size-width - $border-width_transparent;
    height: $normal-size-height - $border-width_transparent;
    display: flex;
    border-radius: $border-radius;
    background-color: $buttonBackgroundColor_transparent;
    justify-content: center;
    align-items: center;

  }

  &:hover{
    opacity: 0.75;
  }

  &:active{
    opacity: 0.5;
  }
}