.form-and-elements__text-fields-column {
  position: relative;
  top: 176px;
  left: 141px;

  & > div{
    margin-bottom: 16px;
  }

  & > .form-and-elements__dropdown-with-math-field{
    margin-bottom: 21px;
  }

  & > .form-and-elements__text-fields-column-sub-row{
    margin-top: 36px;
  }
}
