.pagination {
  position: absolute;
  top: 155px;
  left: 30%;
  & + & {
    top: 50px;
  }
}
@import '__header/pagination__header';
@import '__content/pagination__content';
@import '__display-calculations/pagination__display-calculations';
@import '__pagination-item/pagination__pagination-item';
@import '_theme_basic/pagination_theme_basic';
