include __pagination-item/pagination__pagination-item.pug
include __display-calculations/pagination__display-calculations.pug
include __content/pagination__content.pug
include __header/pagination__header.pug
mixin pagination(modifier)
  if modifier.numberOfItems == undefined
    - modifier.numberOfItems = 15;

  .pagination&attributes(attributes)
    +pagination__header(modifier)
    +pagination__content(modifier)
    +pagination__display-calculations(modifier)