.text-field__math-operation {
  @include square(30px);
  @include rounded;
  @include unselectable;

  display: flex;
  position: relative;
  border: 1px solid rgba(31,32,65, 0.5);
  color: $textField__mathOperationColor;
  cursor: pointer;
  font-family: 'montserrat' ,arial , sans-serif;
  font-size: 18px;
  line-height: 22px;
  justify-content: center;
  align-items: center;
}
