mixin form-and-elements__dropdown-row-column(modifier)
  .form-and-elements__dropdown-row-column&attributes(attributes)
    +text-field({
      title:"DROPDOWN",
      description:"DEFAULT",
      inputType: "dropdown",
      totalResultText:"2 спальни, 2 кровати...",
      menuItemsObjArray:[
        {text:"СПАЛЬНИ", count:0},
        {text:"КРОВАТИ", count:2},
        {text:"ВАННЫЕ КОМАНТЫ", count:0},
      ],
      isMenuShown: false,
      isThereApplyButton: false,
      isThereClearButton: false
      })(class="text-field_size_two-thirds")
    +text-field({title:"DROPDOWN",
      description: "EXPANDED",
      inputType: "dropdown",
      totalResultName: "2 спальни, 2 кровати...",
      menuItemsObjArray:[
        {text:"СПАЛЬНИ", count:2},
        {text:"КРОВАТИ", count:2},
        {text:"ВАННЫЕ КОМАНТЫ", count:0},
      ],
      isMenuShown:true,
      isThereApplyButton: false,
      isThereClearButton: false
      })(class="text-field_size_two-thirds")