.form-and-elements__comment {
  @include media-breakpoint-up(sm){
    padding-top: 15px;
    width: 320px;
  }
  @include media-breakpoint-up(md){
    padding-top: 15px;
    width: 480px;
  }
  @include media-breakpoint-up(lg){
    padding-top: 15px;
    width: 735px;
  }
}
