mixin dropdown-with-math-field__title-and-desc-wrapper(title,desc)
  .dropdown-with-math-field__title-and-desc-wrapper&attributes(attributes)
    +dropdown-with-math-field__title(title)
    if (desc!=undefined)
      +dropdown-with-math-field__desc(desc)