mixin form-and-elements__content-wrapper(modifier)
  .form-and-elements__content-wrapper.row&attributes(attributes)
    +brand-pic()(class=' form-and-elements__brand-pic ')
    +form-and-elements__text-fields-column()
    //- +form-and-elements__dropdown-row(class="w-100")