mixin dropdown-with-math-field__total-result-and-toggler-wrapper(totalResultName)
  .dropdown-with-math-field__total-result-and-toggler-wrapper&attributes(attributes)
    +dropdown-with-math-field__total-result-field(totalResultName)
    +dropdown-with-math-field__toggler()